@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}

/* hides scrollbar */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.triangle {
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.parallelogram {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.gradient-border {
  position: relative;
  padding: 20px 30px;
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  border: 2px solid transparent;
  background: linear-gradient(45deg, #e76456, #f09b57) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}

.rotate-animation {
  animation-name: rotate-scale;
  animation-duration: 750ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes rotate-scale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
