@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}

/* hides scrollbar */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.triangle {
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.parallelogram {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}

.rotate-animation {
  animation-name: rotate-scale;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes rotate-scale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.35);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
